* {
  color: #fff;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../Assets/photo_background.avif');
  background-size: cover;
  max-width: 1440px;
  
  
}
