* {
  color: #fff;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(34,193,195);
  background: url('../Asset/photo_background.avif');
  background-size: cover;
  
  
}
